/*
    GENREAL
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body,
html{
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body{
    position: relative;
}

a{
    text-decoration: none;
}

li{
    list-style:none;
}

button{
    cursor: pointer;
}

.black{
    color: black !important;
}

.img{
    width: 100%;
    border-radius: 10px;
}

.container{
    padding: 16px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section__title{
    font-size: 35px;
    text-align: center;
}

.section__subtitle{
    font-size: 25px;
    text-align: center;
    margin-bottom: 16px;
}

/*
    NAVIGATION
*/

#landing{
    height: 100vh;
    background:url('assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 24px;
    
}

.nav-container{
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.nav__link--list{
    display: flex;
    padding: 8px;
}

.nav--link{
    padding: 8px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-title{
    font-size: 45px;
}

.btn__menu {
    background-color: transparent;
    font-size: 32px;
    border: none;
    display: none;
    color: white;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
    transform: translate(100%);
}

.menu--open {
    max-height: 100vh;
    overflow: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    color: white;
    font-size: 40px;
}

.btn__menu--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: white;
}

.button{
    font-size: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: #649664;
    margin-top: 16px;
}

/*
    HEADER
*/

.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header--title{
    font-size: 75px;
    text-align: center;
    margin-top: 250px;
    padding: 8px 16px;
    border-radius: 8px;
}

/*
    Work
*/

.carousel{
    position: relative;
}

.carousel__item{
    display: none;
    overflow: hidden;
}

.carousel__item--active{
    display: block;
}

.carousel-img{
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 16px;
}

.carousel__nav{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__button{
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}

.carousel__button--active{
    background: #649664;
}

/*
    ABOUT
*/

#about{
    background-color: #649664;
}

.about{
    display: flex;
    padding: 16px;
}

.wave-img{
    width: 100%;
    height: 8vh;
}

.about__description{
    padding-right: 8px;
    text-align: center;
}

.about__title{
    font-size: 25px;
}

.about__paragraph{
    margin-top: 16px;
    font-size: 35px;
}

/*
    CONTACTS
*/

.contacts__container{
    display: flex;
    justify-content: center;
    padding: 48px 0;
    line-height: 1.5;
}

.availability{
    padding-right: 16px;
    border-right: 2px solid #649664;
}

.contacts{
    padding-left: 16px;
    border-left: 2px solid #649664;
}

.numbers{
    display: flex;
}
.number{
    padding-left: 4px;
}

/*
    FOOTER
*/
footer{
    background-color: rgb(98, 96, 96);
    color: white;
}

.footer__container{
    padding: 16px;
}

.footer__title{
    text-align: center;
    font-size: 30px;
}

.footer__link--list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
}

.footer--link{
    color: white;
    padding: 8px 16px;
}

.creator{
    color:white;
}

.cr{
    text-align: center;
    margin-top: 32px;
}

@media(max-width: 800px){
    body{
        overflow-x: hidden;
    }

    .about__paragraph{
        font-size: 25px;
    }
}

@media(max-width: 600px){
    .contacts__container{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .line-height{
        margin-bottom: 16px;
    }

    .btn__menu {
        display: block;
    }

    .nav__link--list {
        display: none;
    }

    .about{
        flex-direction: column;   
    }

    .about--img{
        left:50%
    }

    .about__description{
        margin-bottom: 16px;
    }

    .availability{
        width: 60%;
        border-right: none;
        border-bottom:  2px solid #649664;
        padding-bottom: 16px;
    }

    .contacts{
        width:60%;
        padding-left: 0;
        border-top:  2px solid #649664;
        border-left:none;
        padding-top: 16px;
    }

    .numbers{
        justify-content: center;
    }
}